// Body
$body-bg: #fff;
$body-color: #4d4d4d;
$text-muted: #c0c0c0;

$normal_size: 14; //normal font size

// Typography
$font-family-sans-serif: "Montserrat", sans-serif;

$border-color: #e0e0e0;
$input-border-color: $border-color;

$primary: #f79420;
$primary-pale: #fdead2;
$secondary: #ffffff;
$success: #39b54a;

$input-bg: #fff;

$mobile_size: 720px;

//form
$input-border-radius: 0.5rem;
$input-padding-y: 0.8rem;
$input-padding-x: 1rem;

//btn
$btn-padding-y: 0.8rem;
$btn-padding-x: 1rem;
$btn-border-radius: 0.5rem;
