.app-btn {
    font-weight: bold;

    &.btn-primary,
    &.btn-success,
    &.btn-secondary,
    &.btn-outline-success,
    &.btn-outline-primary,
    &.btn-light {
        min-height: rem-size(54);
        border-radius: rem-size(12);

        &.btn-sm {
            min-height: rem-size(40);
            padding: rem-size(8) rem-size(12);
            border-radius: rem-size(8);
        }
    }

    &.btn-primary,
    &.btn-success,
    &.btn-secondary {
        color: $white;
    }

    &.btn-secondary {
        color: $primary;
        border-color: $primary;
    }

    &.btn-outline-success,
    &.btn-outline-primary {
        &:hover,
        &.active {
            color: $white;
        }

        &.btn-xs {
            min-height: rem-size(28);
            padding: rem-size(4) rem-size(12);
            border-radius: rem-size(8);
            font-size: rem-size(14);
        }
    }

    &.btn-light {
        background-color: $white;
        border: 1px solid $border-color;
    }
}

.app-btn-outline {
    border-radius: rem-size(12);
    border: 3px solid transparent;
    line-height: 0;
    min-height: rem-size(34);
    &:hover {
        border: 3px solid #e8f4d9;
    }
}

.app-li-btn {
    & > div {
        position: relative;
        z-index: 2;
    }

    &::before {
        content: "";
        position: absolute;
        left: -10px;
        right: -10px;
        top: -1px;
        bottom: -1px;
        border-radius: 12px;
    }

    &:hover {
        &::before {
            background-color: #f4f5f7;
        }
    }

    &.selected {
        &::before {
            background-color: #fdead2;
        }
    }
}

.app-btn-outline-light {
    border: 1px solid #ffffff;
    border-radius: rem-size(8);
    &,
    &:hover {
        color: #fff;
    }
}

.app-btn-outline-success {
    border: 1px solid $border-color;
    border-radius: rem-size(8);
    &,
    &:hover {
        color: $body-color;
    }
}

.app-btn-link {
    border: 1px solid $success;
    display: block;
    border-radius: rem-size(8);
    text-decoration: none;
    font-weight: 700;
    font-size: rem-size(16);
    padding: rem-size(5);
    color: $success;
    &.primary {
        border: 1px solid $primary;
        color: $primary;
    }
    &.active {
        background-color: $success;
        color: #fff;
        &.primary {
            background-color: $primary;
        }
    }
    &.btn-lg {
        display: flex;
        align-items: center;
        min-height: rem-size(54);
        padding: rem-size(12);
        font-size: rem-size(24);
        border-radius: rem-size(12);

        small {
            font-size: rem-size(16);
            font-weight: 300;
        }
    }
}

.app-btn-add {
    border: 3px solid #f79420;
    border-radius: rem-size(8);
    min-width: rem-size(40);
    min-height: rem-size(40);
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #fdead2;

    &:hover,
    &.active {
        background-color: $primary;
        #svg-path-icon-plus {
            fill: white !important;
        }
    }
}

.app-btn-back {
    border: 3px solid $white;
    border-radius: rem-size(12);
    min-width: rem-size(60);
    min-height: rem-size(56);
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: transparent;

    &:hover,
    &:focus {
        background-color: $white;
    }

    &:focus {
        box-shadow: none;
    }
}

.app-btn-center-inline {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.app-btn-icon {
    width: rem-size(40);
    height: rem-size(40);
    padding: 0;
    border-radius: rem-size(8);
    &-2 {
        width: rem-size(49);
        height: rem-size(49);
        padding: 0;
        border-radius: rem-size(8);
    }
}

.app-btn-no-focus {
    &:focus {
        box-shadow: none !important;
    }
}

.app-btn-setting {
    min-width: rem-size(140);
}

.app-btn-order-details-menu-item {
    border-radius: rem-size(12);
    &:hover {
        background-color: #f4f5f7;
        cursor: pointer;
    }
    &.active {
        background-color: #fdead2;
    }
}

.app-btn-add-image {
    border-radius: rem-size(12);
    background-color: #e8f4d9;
    background-size: cover;
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #39b54a;
    &.has-image {
        border: 0;
        background-color: #ddd;
    }
    &.has-link {
        background-color: transparent;
        border: 0;
    }
    .btn-actions {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 10;
    }
    .app-file-dummy-label {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        z-index: 10;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        color: $white;
    }
}

.app-btn-order-details {
    background: #ffffff;
    border-radius: 0px 0px 8px 8px;
    width: 60px;
    height: 32px;
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.15);
    z-index: 20;
}

.app-btn-toggle-password {
    background: #fff;
    position: absolute;
    right: 1px;
    top: 1px;
    bottom: 1px;
    z-index: 20;
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
    align-items: center;
    border-radius: 0 8px 8px 0;
    &.active {
        svg {
            opacity: 0.5;
        }
    }
}

.app-mt-btn-2 {
    margin-top: 32px;
}
