.app-btn {
  font-weight: bold;

  &.btn-primary,
  &.btn-success,
  &.btn-secondary {
    color: $white !important;
  }

  &.btn-secondary {
    color: $primary;
    border-color: $primary;
  }

  &.btn-outline-success,
  &.btn-outline-primary {
    &:hover,
    &.active {
      color: $white;
    }
  }
}

 