.app-card {
    border: 0;
    background-color: transparent;

    & > .card-header {
        background-color: #fff;
        min-height: rem-size(88);
        background: #fff;
        border-radius: rem-size(20) rem-size(20) 0 0;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
        padding: 0 rem-size(40);
        border-bottom: 4px solid #f4f5f7;

        .card-title {
            font-weight: 700;
            font-size: rem-size(24);
            color: $primary;
            margin: 0;
        }
    }

    & > .card-body {
        padding: rem-size(24) rem-size(40);
        background-color: #fff;
        border-radius: 0 0 rem-size(20) rem-size(20);
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
        &.app-scrollable {
            border-radius: 0;
        }
    }
}

.app-box {
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    padding: rem-size(24) rem-size(20);

    .app-box-header {
        min-height: rem-size(88);
        padding: 0 rem-size(40);
        border-bottom: 4px solid #f4f5f7;

        &.no-boder {
            border-bottom: 0;
        }

        .app-box-title {
            font-weight: 700;
            font-size: rem-size(24);
            color: $primary;
            margin: 0;
        }
    }

    .app-box-body {
        padding: rem-size(22) rem-size(40);
    }
}

.app-card-background {
    background-color: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: rem-size(275);
}
