.color-white{
    color: #fff !important;
}

.color-primary{
    color: $primary !important;
}

.color-success{
    color: $success !important;
}

.bg-white{
    background-color: #fff !important;
}

.bg-primary{
    background-color: $primary !important;
}

.bg-success{
    background-color: $success !important;
}

.bg-dark{
    background-color: #4D4D4D !important;
}