.app-invalid-feedback {
  &.invalid-feedback {
    display: block;
    font-size: rem-size(12);
  }
}

.app-form-check,
.app-form-radio {
  &.form-check,
  &.form-radio {
    .form-check-input {
      width: rem-size(20);
      height: rem-size(20);

      &:checked[type="checkbox"],
      &:checked[type="radio"] {
        background-image: url("/images/icons/check.png");
        background-color: $success;
        border-color: $success;
        background-size: 50%;
      }
    }
  }
}

.app-form-search {
  position: relative;

  .icon-search {
    position: absolute;
    right: 0;
    top: 0;
  }

  .form-control {
    padding-right: rem-size(35) !important;
  }
}

.app-wrapper-editor {
  background: $white;
  border: $input-border-width solid $input-border-color !important;
  @include border-radius($input-border-radius, 0);
  overflow: hidden;

  .app-editor {
    min-height: 200px;
    padding: 0 rem-size(20);
  }
}

.app-select {
  .app-searchable-select {
    &__control {
      padding-left: 0.5rem;
      min-height: rem-size(46);
      border: $input-border-width solid $input-border-color !important;
      @include border-radius($input-border-radius, 0);
      box-shadow: none !important;
    }

    &__single-value,
    &__input-container {
      font-weight: bold;
      color: $input-color;
    }

    &__placeholder {
      font-weight: bold;
      color: $input-placeholder-color;
    }
  }

  &.is-invalid {
    .app-searchable-select {
      &__control {
        border: $input-border-width solid #dc3545 !important;
      }
    }
  }
}

.app-datetime-picker {
  .react-datepicker__triangle {
    left: -15px !important;
  }
}

.app-input-right-icon {
  background: $white;
  position: absolute;
  right: 1px;
  top: 1px;
  bottom: 1px;
  z-index: 20;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  align-items: center;
  width: rem-size(50);
  justify-content: center;
  border-radius: 0 $input-border-radius $input-border-radius 0;
  &,
  a {
    font-size: rem-size(20);
    color: $body-color;
    text-decoration: none;
  }
}
