$width-sidebar: rem-size(250);

#app {
  min-height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
}

.app-logo {
  min-height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: rem-size(10);
}

.app-main-sidebar{
  width: $width-sidebar;
  position: relative;

  .list-menu {
    a {
      display: block;
      padding: rem-size(10) rem-size(20);
    }
  }
}

.app-content-top {
  position: relative;
}

.app-content {
  position: relative;
  border-radius: rem-size(30) 0 0 0;
  box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.3) inset;
  background-color: #f6fafc;
}

.app-content-wrap {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}
